@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?8nk02t');
	src:url('fonts/icomoon.eot?#iefix8nk02t') format('embedded-opentype'),
		url('fonts/icomoon.woff?8nk02t') format('woff'),
		url('fonts/icomoon.ttf?8nk02t') format('truetype'),
		url('fonts/icomoon.svg?8nk02t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-id:before {
	content: "\e602";
}
.icon-home:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e600";
}
.icon-library:before {
	content: "\e605";
}
.icon-alarm:before {
	content: "\e604";
}
.icon-cogs:before {
	content: "\e603";
}
.icon-menu:before {
	content: "\e606";
}
