/*
@import url(../font/lato/Lato-Light.css);
@import url(../font/lato/Lato-Regular.css);
@import url(../font/lato/Lato-Bold.css);
@import url(../font/lato/Lato-Italic.css);
@import url(../font/lato/Lato-Black.css);
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'icomoon';
    src:url('../font/icomoon/fonts/icomoon.eot?9or511');
    src:url('../font/icomoon/fonts/icomoon.eot?#iefix9or511') format('embedded-opentype'),
        url('../font/icomoon/fonts/icomoon.woff?9or511') format('woff'),
        url('../font/icomoon/fonts/icomoon.ttf?9or511') format('truetype'),
        url('../font/icomoon/fonts/icomoon.svg?9or511#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon/fonts/icomoon.svg?9or511#icomoon') format('svg');
  }
}
