/* Global CSS that are applied for all screen sizes */

.main {
    width: 100%;
    max-width: 1240px;
    /*min-height: 19em;*/
    margin: 0 auto;
    margin-bottom: 3px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    z-index: 20;
}

nav > ul {
    max-width: 1240px;
    font-size: 1.5em;
    display: block;
}

nav > ul > li {
    position: relative;
}

nav > ul > li span {
    display: block;
}

nav a {
    display: block;
    color: rgba(249, 249, 249, .9) !important;
    text-decoration: none !important;
    -webkit-transition: color .5s, background .5s;
    -moz-transition: color .5s, background .5s;
    -o-transition: color .5s, background .5s;
    -ms-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
}

nav i {
    /* Make the font smoother for Chrome */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch nav ul:hover a {
    color: rgba(249, 249, 249, .5);
}

.no-touch nav ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

nav > ul > li:nth-child(6n+1) {
    background: rgb(208, 101, 3);
}

nav > ul > li:nth-child(6n+2) {
    background: rgb(233, 147, 26);
}

nav > ul > li:nth-child(6n+3) {
    background: rgb(22, 145, 190);
}

nav > ul > li:nth-child(6n+4) {
    background: rgb(22, 107, 162);
}

nav > ul > li:nth-child(6n+5) {
    background: rgb(27, 54, 71);
}

nav > ul > li:nth-child(6n+6) {
    background: rgb(21, 40, 54);
}

/* Second level menu */
nav > ul > li > ul {
    position: absolute;
    background: inherit;
    left: 0;
    right: 0;

    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height .8s ease-in-out;
    -moz-transition: max-height .8s ease-in-out;
    -o-transition: max-height .8s ease-in-out;
    -ms-transition: max-height .8s ease-in-out;
    transition: max-height .8s ease-in-out;
}

nav > ul > li > ul.active {
    max-height: 25em;
}

nav > ul > li > ul > li {
    border-top: 1px solid rgb(160, 160, 160);
    border-top: 1px solid rgba(130, 130, 130, 0.7);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/* For screen bigger than 800px */
@media (min-width: 50em) {

    nav > ul {
        display: block !important;
    }

    /* Transforms the list into a horizontal navigation */
    nav > ul > li {
        float: left;
        width: 16.66666666666667%;
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    nav a {
        display: block;
        width: auto;
    }

    /* hover, focused and active effects that add a little colored border to the different items */
    .no-touch nav > ul > li:nth-child(6n+1):hover > a,
    .no-touch nav > ul > li:nth-child(6n+1) > a:active,
    .no-touch nav > ul > li:nth-child(6n+1) > a:focus {
        border-bottom: 4px solid rgb(174, 78, 1);
    }

    .no-touch nav > ul > li:nth-child(6n+2):hover > a,
    .no-touch nav > ul > li:nth-child(6n+2) > a:active,
    .no-touch nav > ul > li:nth-child(6n+2) > a:focus {
        border-bottom: 4px solid rgb(191, 117, 20);
    }

    .no-touch nav > ul > li:nth-child(6n+3):hover > a,
    .no-touch nav > ul > li:nth-child(6n+3) > a:active,
    .no-touch nav > ul > li:nth-child(6n+3) > a:focus {
        border-bottom: 4px solid rgb(12, 110, 149);
    }

    .no-touch nav > ul > li:nth-child(6n+4):hover > a,
    .no-touch nav > ul > li:nth-child(6n+4) > a:active,
    .no-touch nav > ul > li:nth-child(6n+4) > a:focus {
        border-bottom: 4px solid rgb(10, 75, 117);
    }

    .no-touch nav > ul > li:nth-child(6n+5):hover > a,
    .no-touch nav > ul > li:nth-child(6n+5) > a:active,
    .no-touch nav > ul > li:nth-child(6n+5) > a:focus {
        border-bottom: 4px solid rgb(16, 34, 44);
    }

    .no-touch nav > ul > li:nth-child(6n+6):hover > a,
    .no-touch nav > ul > li:nth-child(6n+6) > a:active,
    .no-touch nav > ul > li:nth-child(6n+6) > a:focus {
        border-bottom: 4px solid rgb(9, 18, 25);
    }

    .no-touch nav > ul > li:hover > a,
    .no-touch nav > ul > li > a:active,
    .no-touch nav > ul > li > a:focus {
        border-bottom: none !important;
    }

    /* Placing the icon */
    
    nav .icon {
        padding-top: 1.4em;
    }

    nav .icon + span {
        margin-top: 2.2em;
        -webkit-transition: margin .5s ease-in-out;
        -moz-transition: margin .5s ease-in-out;
        -o-transition: margin .5s ease-in-out;
        -ms-transition: margin .5s ease-in-out;
        transition: margin .5s ease-in-out;
    }

    /* Animating the height of the element*/
    nav > ul > li > a {
        height: 9em;
        -webkit-transition: height .5s ease-in-out;
        -moz-transition: height .5s ease-in-out;
        -o-transition: height .5s ease-in-out;
        -ms-transition: height .5s ease-in-out;
        transition: height .5s ease-in-out;
    }

    .no-touch nav > ul > li:hover:not(.empty) > a ,
    nav > ul > li:not(.empty) > a:active ,
    nav > ul > li:not(.empty) > a:focus {
        height: 7em;
    }   

    /* Making the text follow the height animation */
    .no-touch nav > ul > li:hover > a .icon + span {
        margin-top: 0.6em;
    }

    /* Positioning the icons and preparing for the animation*/
    nav i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        background: rgba(255,255,255,0.1);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }   
    
    /* Animate the box-shadow to create the effect */
    .no-touch nav > ul > li:hover > a i,
    .no-touch nav > ul > li > a:active i,
    .no-touch nav > ul > li > a:focus i {      
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }
    
}

@media (min-width: 50em) and (max-width: 61.250em) {

    /* Size and font adjustments to make it fit into the screen*/
    nav > ul {
        font-size: 1.2em;
    }

}

/* The "tablet" and "mobile" version */

/* Styling the toggle menu link and hiding it */
nav .navtoggle {
    display: none;  
    width: 100%;
    padding: 0.5em 0.5em 0.8em;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    color: rgb(7, 16, 15);
    font-size: 1.2em;
    background: none;   
    border: none;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
}

nav .navtoggle i{
    z-index:-1;
}

@media (max-width: 49.938em) {
    
    nav ul { 
        /* Make use of GPU rendering */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    nav > ul {
        position: absolute;
        overflow: hidden;
        max-height: 0px;
        -webkit-transition: max-height .8s ease-in-out;
        -moz-transition: max-height .8s ease-in-out;
        -o-transition: max-height .8s ease-in-out;
        -ms-transition: max-height .8s ease-in-out;
        transition: max-height .8s ease-in-out;
    }

    nav > ul.active {
        max-height: 20em;
    }

    /* Unhiding the styled menu link */
    nav .navtoggle {
        display: block;
    }

    /* When JavaScript is disabled, we show the menu */
    .no-js nav ul {
        display: block;
        overflow: hidden;
        position: relative;
    }

    /* Instead of adding a border, we transition the background color */
    .no-touch nav > ul > li:nth-child(6n+1):hover a,
    .no-touch nav > ul > li:nth-child(6n+1) a:active,
    .no-touch nav > ul > li:nth-child(6n+1) a:focus {
        background: rgb(227, 119, 20);
    }

    .no-touch nav > ul > li:nth-child(6n+2):hover a,
    .no-touch nav > ul > li:nth-child(6n+2) a:active,
    .no-touch nav > ul > li:nth-child(6n+2) a:focus {
        background: rgb(245, 160, 41);
    }

    .no-touch nav > ul > li:nth-child(6n+3):hover a,
    .no-touch nav > ul > li:nth-child(6n+3) a:active,
    .no-touch nav > ul > li:nth-child(6n+3) a:focus {
        background: rgb(44, 168, 219);
    }

    .no-touch nav > ul > li:nth-child(6n+4):hover a,
    .no-touch nav > ul > li:nth-child(6n+4) a:active,
    .no-touch nav > ul > li:nth-child(6n+4) a:focus {
        background: rgb(31, 120, 176);
    }

    .no-touch nav > ul > li:nth-child(6n+5):hover a,
    .no-touch nav > ul > li:nth-child(6n+5) a:active,
    .no-touch nav > ul > li:nth-child(6n+5) a:focus {
        background: rgb(39, 70, 90);
    }

    .no-touch nav > ul > li:nth-child(6n+6):hover a,
    .no-touch nav > ul > li:nth-child(6n+6) a:active,
    .no-touch nav > ul > li:nth-child(6n+6) a:focus {
        background: rgb(32, 54, 68);
    }
    
}

@media (min-width:32.5em) and (max-width: 49.938em) and (orientation: portrait) {

    nav > ul {
        max-height: 20em;
        position: relative;
    }

    nav .navtoggle {
        display: none;
    }

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {
    
    /* Creating the 2 column layout using floating elements once again */
    nav > ul > li {
        display: block;
        float: left;
        width: 50%;
    }
    
    /* Adding some padding to make the elements look nicer*/
    nav > ul > li > a {
        padding: 0.8em;     
    }

    /* Displaying the icons on the left, and the text on the right side using inline-block*/
    nav > ul > li span, 
    nav > ul > li span.icon {
        display: inline-block;
    }

    nav > ul > li span.icon {
        width: 50%;
    }

    nav > ul > li .icon + span {
        font-size: 1em;
    }

    nav .icon + span {
        position: relative;
        top: -0.2em;
    }

    /* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
    nav > ul > li i {
        display: inline-block;
        padding: 8% 9%;
        border: 4px solid transparent;
        border-radius: 50%;
        font-size: 1.5em;
        background: rgba(255,255,255,0.1);
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    /* Transition effect on the border color */
    .no-touch nav > ul > li:hover > a i,
    .no-touch nav > ul > li:active i,
    .no-touch nav > ul > li:focus i {
        border: 4px solid rgba(255,255,255,0.1);
    }
    
}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {
    
    nav > ul > li span.icon {
        width: 50%;
    }

    nav > ul > li .icon + span {
        font-size: 0.9em;
    }
}

nav .icon-menu {
    position: relative;
    top: 3px;
    line-height: 0;
    font-size: 1.6em;
}

@media (max-width: 32.438em) {

    nav > ul {
        width: 100%;
    }

    /* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
    
    nav > ul > li span {
        display: inline-block;
        height: 100%;
    }

    nav > ul > li > a {
        padding: 0.5em;     
    }
    
    .icon + span {
        margin-left: 1em;
        font-size: 0.8em;
    }
    
    /* Adding a left border of 8 px with a different color for each menu item*/
    nav > ul > li:nth-child(6n+1) {
        border-left: 8px solid rgb(174, 78, 1);
    }

    nav > ul > li:nth-child(6n+2) {
        border-left: 8px solid rgb(191, 117, 20);
    }

    nav > ul > li:nth-child(6n+3) {
        border-left: 8px solid rgb(13, 111, 150);
    }

    nav > ul > li:nth-child(6n+4) {
        border-left: 8px solid rgb(10, 75, 117);
    }

    nav > ul > li:nth-child(6n+5) {
        border-left: 8px solid rgb(16, 34, 44);
    }

    nav > ul > li:nth-child(6n+6) {
        border-left: 8px solid rgb(9, 18, 25);
    }

    /* make the nav bigger on touch screens */
    .touch nav > ul > li > a {
        padding: 0.8em;
    }
}

nav .icon {
    line-height: 1;
}

nav [data-icon]:before {
    /* Make the font smoother for Chrome */
    transform: translate3d(0, 0, 0);

    content: attr(data-icon);
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

nav .icon-menu:before {
    font-family: 'icomoon';
    content: '\e606';
}

nav .selected {
    font-weight: 700;
}
