
nav
{
    z-index: 99;
    width: 1240px; /* 1000 */
    font-weight: 400;
    position: relative;
    top: 25%;
    left: 50%;
    margin-left: -620px; /* 30 480 */
}

    nav > a
    {
        display: none;
    }

    nav a:hover {
        color: #fff;
    }

    nav li
    {
        position: relative;
    }
        nav li a, nav li span
        {
            color: #fff;
            display: block;
        }
        nav li a:active
        {
            background-color: #c00 !important;
        }

    nav span:after
    {
        width: 0;
        height: 0;
        /*
        border: 0.313em solid transparent; /* 5 */
        /*border-bottom: none;
        border-top-color: #efa585;*/
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em; /* 5 */
    }

    /* first level */

    nav li {
        z-index: 100;
    }

    nav li.selected a {
        font-weight: 700;
    }
    
    nav li.selected li {
        font-weight: 400;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li:nth-child(6n+1) {
        background: rgb(208, 101, 3);
    }
    nav li:nth-child(6n+2) {
        background: rgb(233, 147, 26);
    }
    nav li:nth-child(6n+3) {
        background: rgb(22, 145, 190);
    }
    nav li:nth-child(6n+4) {
        background: rgb(22, 107, 162);
    }
    nav li:nth-child(6n+5) {
        background: rgb(27, 54, 71);
    }
    nav li:nth-child(6n+6) {
        background: rgb(21, 40, 54);
    }

    nav > ul
    {
        height: 3.75em; /* 60 */
        background-color: #e15a1f;
    }
        nav > ul > li
        {
            width: 16.6667%;
            height: 100%;
            float: left;
        }
            nav > ul > li > a
            {
                height: 100%;
                font-size: 1.5em; /* 24 */
                line-height: 2.5em; /* 60 (24) */
                text-align: center;
            }
                nav > ul > li:hover > a,
                nav > ul:not( :hover ) > li.active > a
                {
                    background-color: #cc470d;
                }


        /* second level */

        nav li ul
        {
            background-color: #cc470d;
            display: none;
            position: absolute;
            top: 100%;
        }
            nav li:hover ul
            {
                display: block;
                left: 0;
                right: 0;
            }
                nav li:not( :first-child ):hover ul
                {
                    left: -1px;
                }
                nav li ul a
                {
                    font-size: 1.25em; /* 20 */
                    /*border-top: 1px solid #e15a1f;*/
                    padding: 0.75em; /* 15 (20) */
                }
                    nav li ul li a:hover,
                    nav li ul:not( :hover ) li.active a
                    {
                        background-color: #e15a1f;
                    }


@media only screen and ( max-width: 1240px ) /* 1000 */
{
    nav
    {
        width: 100%;
        position: static;
        margin: 0;
        overflow: visible;
    }
}

@media only screen and ( max-width: 1000px ) /* 640 */
{
    html
    {
        font-size: 75%; /* 12 */
    }

    nav
    {
        position: relative;
        top: auto;
        left: auto;
    }
        nav > a
        {
            width: 3.125em; /* 50 */
            height: 3.125em; /* 50 */
            text-align: left;
            text-indent: -9999px;
            background-color: #e15a1f;
            position: relative;
        }
            nav > a:before,
            nav > a:after
            {
                position: absolute;
                border: 2px solid #fff;
                top: 35%;
                left: 25%;
                right: 25%;
                content: '';
            }
            nav > a:after
            {
                top: 60%;
            }

        nav:not( :target ) > a:first-of-type,
        nav:target > a:last-of-type
        {
            display: block;
        }


    /* first level */

    nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        nav:target > ul
        {
            display: block;
        }
        nav > ul > li
        {
            width: 100%;
            float: none;
        }
            nav > ul > li > a
            {
                height: auto;
                text-align: left;
                padding: 0 0.833em; /* 20 (24) */
            }


        /* second level */

        nav li ul
        {
            position: static;
            padding: 0; /* 20 */
            padding-top: 0;
        }

    /* Adding a left border of 8 px with a different color for each menu item*/
    nav li:nth-child(6n+1) {
        border-left: 8px solid rgb(174, 78, 1);
    }
     
    nav li:nth-child(6n+2) {
        border-left: 8px solid rgb(191, 117, 20);
    }
     
    nav li:nth-child(6n+3) {
        border-left: 8px solid rgb(13, 111, 150);
    }
     
    nav li:nth-child(6n+4) {
        border-left: 8px solid rgb(10, 75, 117);
    }
     
    nav li:nth-child(6n+5) {
        border-left: 8px solid rgb(16, 34, 44);
    }
     
    nav li:nth-child(6n+6) {
        border-left: 8px solid rgb(9, 18, 25);
    }
}

.touch nav a {
    padding: 0.8em;
}

[data-icon]:before {
    font-family: 'icomoon';
    /* Make the font smoother for Chrome */
    transform: translate3d(0, 0, 0);
    content: attr(data-icon);
    speak: none;
    padding-right: 6px;
}

@media only screen and ( max-width: 40em ) {/* 640 */
    [data-icon]:before {
        padding-right: 8px;
    }
}


nav [data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    text-decoration:underline;
    display:inline-block;
}

nav [data-icon] {
    text-decoration: none;
}

nav [data-icon]:hover {
    text-decoration: underline;
}

nav [data-icon]:before,
nav [data-icon]:hover:before {
    text-decoration: none;
}

nav a:hover [data-icon]:before {
    text-decoration: none;
}