@import url(./fonts.css);
@import url(./nav.css);

html, body {
    height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body
{
    background-color: #f7efeb;
    padding: 0;
    margin: 0;
    padding-top: 1.25em; /* 20 */
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.banner {
    height: 100%;
    width: 100%;
}

#panorama {
    position: relative;
    z-index: 10;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: auto 500px; 
    background-position: top center;
    height: 300px;
    overflow: hidden;
    color: #fff;
    
    box-shadow: inset 0 -20px 20px -10px #000000;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 30px -10px #000000;
    */
    /*
    box-shadow:         inset  0  20px 20px -20px #696868, 
                        inset  0 -20px 20px -10px #696868;
    -moz-box-shadow:    inset  0  20px 20px -20px #696868, 
                        inset  0 -20px 20px -10px #696868;
    -webkit-box-shadow: inset  0  20px 20px -20px #696868, 
                        inset  0 -20px 20px -10px #696868;
    */
}

#info {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#info h1 {
    display: table-cell;
    vertical-align: bottom;
    width: 80%;
    font-size: 30px;
    line-height: 1.25em;
    text-shadow: 1px 2px 0px #000;
        filter: dropshadow(color=#000, offx=1, offy=2);
}

@media screen and (min-width: 970px) {
    #panorama {
        background-size: cover;
    }
}

@media (min-width:32.5em) and (max-width: 49.938em) and (orientation: portrait) {
    
    #panorama {
        background-size: auto 700px;
    }

}
/*
@media screen and (max-width: 1140px) {
    #panorama {
        background-attachment: scroll;
        overflow: visible;
    }
}
*/

.date {
    color: #aaa;
}

.post {
    padding-bottom: 1em;
}

.text {
    text-align: justify;
    font-family: 'LatoBlack', 'Helvetica', 'Arial', sans-serif;
}

.text h3 {
    background: #ddd;
    padding: 5px 10px;
    /*font-weight: bold;*/
}

.post:not( :last-child ) {
    border-bottom: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgba(130, 130, 130, 0.7);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.comments {
    margin-top: 3em;
}

/*
@media screen and ( max-width: 768px ) {
    .container {
        padding: 0 5px;
    }
}
*/
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

footer {
    display: table-row;
    height: 1px;
    background-color: #444;
    color: #fff;
    text-align: center;
    line-height: 1.1em;
}
footer p {
    padding-top: 10px;
}