<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}IX LO im. Hoffmanowej w Warszawie{% endblock %}</title>
        <meta name="description" content="Strona internetowa IX Liceum Ogólnokształcącego imienia Klementyny Hoffmanowej w Warszawie">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
        <script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=618473818230902";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        <div class="wrapper">
        <div class="main clearfix">
        <nav id="menu" class="nav">
            <ul>
                <li>
                    <a href="/" title="Aktualności">
                        <span class="icon"><i aria-hiddent="true" data-icon="&#xe600;"></i></span><span id="home">Aktualności</span>
                    </a>
                </li>
                {% for category in categories %}
                <li>
                    <a href="#" title="{{ category.name }}">
                        <span class="icon"><i aria-hiddent="true" data-icon="&#xe{{ category.icon }}"></i></span><span>{{ category.name }}</span>
                    </a>
                    {% if category.get_pages %}
                    <ul>
                        {% for page in category.get_pages %}
                        <li>
                            <a href="{{ page.get_absolute_url }}" title="{{ page.title }}">
                                <span>{{ page.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
                <li>
                    <a href="http://www.zs125.edu.pl/" target=_blank title="Zespół szkół">
                        <span class="icon"><i aria-hiddent="true" data-icon="&#xe605;"></i></span><span>Zespół szkół</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>

        <div id="panorama">
                <div id="info"><h1>IX Liceum Ogólnokształcące im. Klementyny Hoffmanowej w Warszawie</h1></div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        
        <footer class="footer">
                    <p>Copyright &copy; {% now "Y" %} | <strong>IX Liceum Ogólnokształcące im. Klementyny Hoffmanowej w Warszawie</strong><br/>
                    Opracowanie strony: <strong><a href="mailto:pawel.koniarski@gmail.com">Paweł Koniarski</a></strong><br/>
                    Stronę napędza <strong><a href="https://www.djangoproject.com/">Django</a></strong> | Używamy plików <a href="http://wszystkoociasteczkach.pl/">cookies</a></p>
        </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/nav.js' %}"></script>
        <!--
        <script src="{% static 'bower_components/html5-boilerplate/js/plugins.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-50238474-1');ga('send','pageview');

            $(function() {
                // Add class selected to current category
                category = location.pathname.split('/')[1];
                if (category === '' || category === 'news')
                    $( '#home').addClass('selected');
                else
                    $( 'nav a[href*="' + category + '"][class!="noselect"]').parent().parent().prev().children().filter(':not(.icon)').addClass('selected');

                // Add class notrans to empty elements of menu
                $( 'nav > ul > li:not( :has(li) )' ).addClass('empty');
            });
        </script>
    </body>
</html>
