{% extends "blog/includes/base.html" %}

{% block content %}
    {% if object_list %}
        {% for post in object_list %}
            <div class="post">
                <h1 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                <p class="date">Wysłane {{ post.pub_date }}</p>
                <div class="text">{{ post.text|safe|truncatewords_html:80 }}</div>
                {% ifnotequal post.text|truncatewords_html:80|length post.text|truncatewords_html:81|length %}
                <a href="{{ post.get_absolute_url }}">Czytaj więcej...</a>
                {% endifnotequal %}
            </div>
        {% endfor %}
    {% else %}
        <p>Brak postów.</p>
    {% endif %}
    
    {% if page_obj.has_previous %}
        <a href="/{{ page_obj.previous_page_number }}">Poprzednia strona</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="/{{ page_obj.next_page_number }}">Następna strona</a>
    {% endif %}
{% endblock %}