{% extends "blog/includes/base.html" %}

{% block content %}
	<div class="post">
		<h1 class="title">{{ object.title }}</h1>
		<p class="date">Wysłane {{ object.pub_date }} &mdash;
		{% if object.author.first_name %}
		{% if object.author.last_name %}
		{{ object.author.first_name }} {{ object.author.last_name }}
		{% else %}{{ object.author }}{% endif %}
		{% else %}{{ object.author }}{% endif %}</h3>
		<div class="text">{{ object.text | safe }}</div>

		{% include "blog/includes/fb-comments.html" with object=post %}
	</div>
{% endblock %}